# Banco de Dados
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=helpdesk_system
DATABASE_URL=mysql://root:<MYSQL_ROOT_PASSWORD>@db:3306/helpdesk_system

# Aplicação
JWT_SECRET=
VITE_API_URL=http://localhost:3000
