/* Vamos mesclar a base do Login, pois compartilham muito código, 
   mas com isolamento lógico pra evitar quebrar do lado de lá caso precise mudar margens aqui.*/
@import '../Login/Login.css';

.register-text {
  text-align: center;
  margin-top: 24px;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.register-link {
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
  color: var(--primary-hover);
}
